@font-face {
  font-family: 'fontello';
  src: url('./fonts/fontello.eot?7499415');
  src: url('./fonts/fontello.eot?7499415#iefix') format('embedded-opentype'),
       url('./fonts/fontello.woff?7499415') format('woff'),
       url('./fonts/fontello.ttf?7499415') format('truetype'),
       url('./fonts/fontello.svg?7499415#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('./font/fontello.svg?7499415#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-hamburger:before { content: '\e800'; } /* '' */
.icon-radity-logo:before { content: '\e801'; } /* '' */
.icon-quote:before { content: '\e802'; } /* '' */
.icon-playbook-badge:before { content: '\e803'; } /* '' */
.icon-ui:before { content: '\e804'; } /* '' */
.icon-copy-icon:before { content: '\e805'; } /* '' */
.icon-caret-down:before { content: '\e806'; } /* '' */
.icon-dots:before { content: '\e808'; } /* '' */
.icon-chain:before { content: '\e809'; } /* '' */
.icon-cloud:before { content: '\e80a'; } /* '' */
.icon-code:before { content: '\e80b'; } /* '' */
.icon-pie:before { content: '\e80d'; } /* '' */
.icon-caret:before { content: '\e80e'; } /* '' */
.icon-plus:before { content: '\e80f'; } /* '' */
.icon-megaphone:before { content: '\e810'; } /* '' */
.icon-diamond:before { content: '\e811'; } /* '' */
.icon-arrow:before { content: '\e813'; } /* '' */
.icon-checkmark:before { content: '\e815'; } /* '' */
.icon-close:before { content: '\e816'; } /* '' */
.icon-rad-whatsapp:before { content: '\e817'; } /* '' */
.icon-instagram:before { content: '\e818'; } /* '' */
.icon-youtube:before { content: '\e819'; } /* '' */
.icon-facebook:before { content: '\e81b'; } /* '' */
.icon-twitter:before { content: '\e81c'; } /* '' */
.icon-linkedin:before { content: '\e81d'; } /* '' */
.icon-email:before { content: '\e81e'; } /* '' */
.icon-phone-fill:before { content: '\e829'; } /* '' */
.icon-map-pin:before { content: '\e82a'; } /* '' */
.icon-mail-fill:before { content: '\e82b'; } /* '' */